<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  <arg name="tra_z"/>
  <arg name="tra_y"/>
  <arg name="tra_x"/>
  <arg name="ori_p"/>
  <arg name="ori_r"/>
  <arg name="ori_y"/>
  <arg name="cad_name"/>
  <arg name="kinect_on_arm"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find omatai_arm)/urdf/ur5_robot.urdf.xacro' limited:=$(arg limited) kinect_on_arm:=$(arg kinect_on_arm) cad_name:=$(arg cad_name) tra_x:=$(arg tra_x) tra_y:=$(arg tra_y) tra_z:=$(arg tra_z) ori_r:=$(arg ori_r) ori_p:=$(arg ori_p) ori_y:=$(arg ori_y)"/>

</launch>
